main {
  padding-top: 4rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: orangered;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  width: 30vw;
}
